*{
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
    margin-top: 20vh;
}

#cartaMaquina{
    margin-left: 19vw;
}
.botoes{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 30vh;
}